/* Import de fontes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700;800;900&family=Nunito:wght@500;900&display=swap');

/* Exemplos de uso:
- 'Bebas Neue', sans-serif;
- 'Montserrat', sans-serif;
- 'Nunito', sans-serif;

*/

/* Reset de propriedades */
* {
    box-sizing: border-box;
    padding: 0; margin: 0;
}

/* Variáveis */
:root {
    --fonte-texto: 'Montserrat', sans-serif;
    --fonte-titulo: 'Nunito', sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --marrom-claro: #F0ECE5;
    --azul-claro: #B6BBC4;
    /* --indigo: #31304D; */
    --indigo: #212749;
    --indigo-escuro: #161A30;
}

body {
    background-color: var(--indigo);
    padding-top: 1vh;
    padding-left: calc(20vw + 2vh);
    color: var(--marrom-claro);
}

/* Header */

header {
    height: 100px;
}




/* Main */













/* Side section */
.side-section {
    background-color: var(--indigo-escuro);
    border-radius: 25px;
    font-family: var(--fonte-titulo);

    width: 20vw;
    height: 98vh;
    padding: 1%;
    margin: 1vh 1vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
}

.side-section > * { width: 100%; }

.side-section a {
    text-decoration: none;
    color: var(--marrom-claro);
}

.side-section .main-area {
    height: 40%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.side-section .main-area .photo {
    height: 85%;
    border: 4px solid var(--indigo);
    border-radius: 50%;
}

.side-section .social-media {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-media .social-media__card {
    height: 4.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid var(--marrom-claro);
    border-radius: 15px;
    font-family: var(--fonte-texto);
    transition: background-color 0.4s;
}

.social-media .social-media__card:hover {
    background-color: var(--indigo);
    transition: background-color 0.4s;
}

.social-media__card img:first-child {
    height: 40px;
}

.social-media__card p {
    width: 90px;
    text-align: center;
}

.side-section .action-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.side-section .action-area .contact {
    border: none;
    width: 100%;
    height: 4.5rem;
    padding: 0 21%;
    background-color: var(--azul-claro);
    color: var(--indigo-escuro);
    border: 2px solid var(--azul-claro);
    border-radius: 40px;
    font-family: var(--fonte-destaque);
    font-size: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.action-area .contact img {
    justify-self: flex-end;
    border: 2px solid blue;
    height: 35px;
    margin-bottom: 5px;
}
